<div style="position: relative;left: 0px;top: 0px;">
    <div style="position: absolute;left:10px;top: 10px;">课程缴费 >>
        <font style="font-weight: bold"> 课程缴费</font> </div>
    <div style="position: absolute;left: 50px;top: 30px;"><table id="admin_course_box" style="width: 900px;"></table>
</div>
<div id="admin_course_tb" style="">
    <div style="">
        <table style="width: 890px">
            <tr>
            <td style="width: 450px;text-align: left;">
                        </td>
                <td style="width: 450px;text-align: right;">
        查询姓名：<input type="text" class="textbox" name="student_name" style="width:110px">

        <a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="obj_admin_student.search();">查询</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </td>  </tr> </table>
    </div>
</div></div>

    <div id="window_select_item" class="easyui-window" title="添加课程">
        </div>
    </div>




<script type="text/javascript">
$(function () {

     $('#window_select_item').window({
            width : 1060,
            height:480,

            modal : true,
            closed:true,

            minimizable : false,
            maximizable : false,
            title:'详细清单查看',
            iconCls:'icon-man',
            collapsible:false

        });
     obj_select_item = {
        check:function(data){
                    $('#window_select_item').window("open").window("refresh","./index.php/home/admin/select_item?student_id="+data);
                },

     };
     obj_admin_student = {
         editRow : undefined,
         search : function () {
             $('#admin_course_box').datagrid('load', {
                 student_name : $.trim($('input[name="student_name"]').val()),
             });
         },
    };

    $('#admin_course_box').datagrid({
        width : 900,
        url : '{:U("readallstudent")}',
       // url : 'user.php',
        title : '<center>选课列表</center>',
        iconCls : 'icon-search',
        striped : true,
        nowrap : true,
        rownumbers : true,
        //singleSelect : true,
        fitColumns : true,
        columns : [[
        {
            field : 'student_name',
            title : '学生姓名',
            sortable : true,
            width : 150,
            editor : {
                type : 'validatebox',
                options : {
                    required : true,
                    validType : 'length[2,6]',
                },
            },
        },
        {
            field : 'student_sex',
            title : '性别',

            width : 50,
            editor : {

                type : 'student_combobox',
                options : {

                    valueField:'value',
                    textField:'text',
                    editable:false,
                    data:[{
                        value: '男',
                        text: '男'
                    },{
                        value: '女',
                        text: '女'
                    }],

                    panelHeight:40



                },


            },
        },
        {
            field : 'student_tel',
            title : '电话号码',

            width : 100,
            editor : {
                type : 'numberbox',
                options : {
                    validType : 'length[6,13]',

                },
            },
        },
            {
                field : 'student_id',
                title : '功能',
                width : 0,
                formatter : function (value,row,index) {
                       return '<a href="#" onclick="obj_select_item.check('+value+');">添加课程</a> '
                       ;
                   }

            },
        ]],
        toolbar : '#admin_course_tb',
        pagination : true,
        pageSize : 10,
        pageList : [10, 20, 30],
        pageNumber : 1,
        sortName : 'student_name',
        sortOrder : 'DESC',
    });

});
</script>
