<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>智能培训考勤管理系统</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/2.3.2/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/2.3.2/css/bootstrap.min.css">
    <script src="http://cdn.bootcss.com/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/2.3.2/js/bootstrap.min.js"></script>
</head>
<style>
    .side {
        position: relative;
        height: 98%;
        overflow: auto;
        min-height: 600px;
    }

    #content {
        width: 620px;
        height: 98%;
        min-height: 600px;
    }
    .panel{
        background-color: #fff;
        border-radius: 5px;
        padding: 10px;
        margin: 15px;
    }
    .active{
        background-color: #eee;
    }
    div#side>div.panel:hover{
        background-color: #eee;
    }

</style>

<body class="container" style="background-color: #e2e3e3;padding-top: 50px">
<div class="row">
    <div class="span3" id="side">
        <div class="panel text-center">
            星期一
        </div>
        <div class="panel text-center">
            星期一
        </div>
        <div class="panel text-center">
            星期一
        </div>
    </div>
    <div class="span9">
        <div class="panel text-center" id="content">
            <table class="table table-hover text-center">
                <thead>
                    <tr>
                      <th>课程名字</th>
                      <th>课程时间</th>
                      <th>签到老师</th>
                      <th>操作</th>
                    </tr>
                  </thead>
                <tbody>
                <tr>
                    <td>语文</td>
                    <td>22:20</td>
                    <td>未签到</td>
                    <td>
                    <div class="btn-group">
                      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        签到
                        <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu">
                        <li><a href="">录入缺课人员</a></li>
                        <li><a href="">无缺课人员</a></li>
                        <li><a href="">取消课程</a></li>
                      </ul>
                    </div> </td>
                </tr>
                <tr>
                    <td>语文</td>
                    <td>22:20</td>
                    <td>李四</td>
                    <td>无缺课人员</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    var app = app|| {};
    app.date = {};
    app.ajax =function(url,success,error){
        $.ajax({
            url: url,
            type: 'GEt',
            dataType: 'json'
        })
        .done(function(data) {
            success(data);
        })
        .fail(function() {
            error();
        });
    };
    app.error=function(){
        console.log('error');
    };
    app.getSchedule=function (week) {
        var url = "<?php echo SRC_PATH ?>/index.php/home/teacher/getSchedule";
        var success = function(data) {
            if (data['code'] == '200') {
                var html="";
                var sign = '<div class="btn-group"> <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"> 签到 <span class="caret"></span> </a> <ul class="dropdown-menu"> <li><a href="">录入缺课人员</a></li> <li><a href="">无缺课人员</a></li> <li><a href="">取消课程</a></li> </ul> </div>'
                var data = data.data;
                for (var i = 0; i < data.leght;i++) {


                    html = html+'<tr><td>'+data[i].item+'</td><td>'+data[i].time+'</td>';
                    if (data[i].teacher_name) {
                        html=html+'<td>'+data[i].teacher_name+'</td><td>'+data[i].time+'</td></tr>';
                    }else{
                        html=html+'<td>'+'未签到'+'</td><td>'+sign+'</td></tr>';
                    }
                }
                $('#content').html(html);
            }
        };
        app.ajax(url,success,app.error);
    };


    (function(){
        var url = "<?php echo SRC_PATH ?>/index.php/home/teacher/getDate";
        var success = function(data) {
            if (data['code'] == '200') {
                var weeks= ['星期一','星期二','星期三','星期四','星期五','星期六','星期日'];
                var html="";
                var active="";
                for (var i = 0; i < data.data;i++) {
                    var week= week[data.data[i].week];
                    if (data.data[i].active) {
                        active="active";
                    }
                    html=html+'<div class="panel '+active+' text-center" onclick="app.getSchedule('+data.data[i].week+')">'+data.data[i].date+'<br>'+week+'</div>'
                }
                $('#side').html(html);
            }
        };
        app.ajax(url,success,app.error);
    })();



</script>


</body>
</html>
