@charset "utf-8";
/* CSS Document */
html{
	height:100%;
}
body{
	margin: 5px;
	padding: 0px;
	birder: 0;
	background-color: #FFF;
	height:100%;
	font-size: 13px;
}
.think_title{
	height:65px;
	width:100%;
	left:opx;
	top:0px;
	position: absolute;

}
.think_title_logo{
	height:60px;
	width:300px;
	float:left;
	position: absolute;
	background-image: url(../Img/main_title.jpg);
	background-repeat: no-repeat;
    vertical-align: bottom;
}
.think_title_left{
	height:72px;
	width:300px;
	
	position: absolute;
    left:100%;
	top:4px;
	margin-left:-300px;
	font-size:13px;
	color:#000;
	line-height:93px;
	text-align:right;
}
.content{
	height:auto !important;
	width:100%;
	float:left;
	width:100%;
	left:0px;
	top:60px;
	position:absolute;
	color:#000;
	background:#000;
	
}
.header1{
	font-size:13px;
	font-weight: normal;
	
}
	
